@charset "UTF-8";

@page {
  size: A4 portrait;
  margin: 5mm;
}

body {
  margin: 0;
}

header,
#navigation-bar,
.sroom,
.text,
footer {
  display: none !important;
}

main {
  margin: 0;
  padding: 0;
}

.print-map {
  display: block;
}

.print-map_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 287mm;
  margin: 0;
  page-break-after: always;
}

.print-map_item img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.print-map_item:last-child {
  page-break-after: auto;
}
